.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 8px 16px;
    background: #3f51b5;
}

.header__logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #fff;
}

.header__logo img {
    height: 50px;
}

.header__logo span {
    padding: 0 10px;
}